<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <p id="errorm"></p>
    <form action="/api/login" method="POST">
        <label for="email">E-Mail: </label><input type="email" id="email" name="email"><br>
        <label for="password">Password: </label><input type="password" id="password" name="password"><br>
        <label for="keepLogged">Keep me logged in: </label><input type="checkbox" id="keepLogged" name="keepLogged"><br>
        <button type="submit">Log In</button>
    </form>

    <a href="/register">New account</a>

    <script>
        var errormessages = [
            "Email or password are incorrect"
        ]
        var params = new URLSearchParams(location.search)
        var error = params.get("err")
        if (error !== null) {
            document.getElementById("errorm").innerText = errormessages[error]
        }
    </script>
</body>

</html>